<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <queries>
        <package android:name="com.facebook.katana" />
    </queries>
    <queries>
        <package android:name="com.instagram.android" />
    </queries>
</manifest>
