<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adjust.sdk.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.adjust.sdk.test" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="android.test.runner" />

        <meta-data
            android:name="AdjustAppToken"
            android:value="3g6x5plnaqd8" />
        <meta-data
            android:name="AdjustLogLevel"
            android:value="verbose" />
        <meta-data
            android:name="AdjustEnvironment"
            android:value="sandbox" />

        <meta-data
            android:name="AdjustEventBuffering"
            android:value="false" />

        <activity
            android:name="com.adjust.sdk.test.UnitTestActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
